
body {
  background-image: url("images/dinnertable.jpg");
  background-repeat: no-repeat;
  height: 100%;
  /* background-position: center; */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header__subtitle {
  font: #ffffff;
}
html {
  color: #ffff;

  text-align: center;
}
